#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: .4%;
  padding-top: .4%;
}
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 9999;
  background-color: transparent;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 9999;
  background-color: #efefef;
  box-shadow: 2px 2px 20px #000;
}
#logo{
  background: url("../Icon/logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 8%;
  height: 85%;
  align-self: center;
  cursor: pointer;
}
#sections{
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}
.headerBox{
  background-color: transparent;
  height: 100%;
  width: 9%;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-around;
}
.sticky .headerBox:hover{
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2%;
  border-bottom-width: thick;
  color: #000;
}
.fixed .headerBox:hover h1{
  font-size: 120%;
  cursor: pointer;
}
.team{
  margin-left: 0;
  margin-right: 0;
}
.activites{
  margin-right: 0;
}
.about{
  margin-left: 0;
}
h1{
  font-family: Bahnschrift Regular;
  color: #1d1d1d;
  font-size: 100%;
  align-self: center;
}
.fixed h1{
  font-family: Bahnschrift Regular;
  color: #efefef;
  font-size: 100%;
  align-self: center;
}
