body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.members{
  width: 100%;
  height: 90%;
  top: 10%;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchBar{
  width: 35%;
  height: 10%;
  align-self: center;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #1d1d1d;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5vw 0 0 5vw;
  outline: none;
  color: #1d1d1d;
}

.searchTerm:focus{
  color: #1d1d1d;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #1d1d1d;
  background: #1d1d1d;
  text-align: center;
  color: #fff;
  border-radius: 0 5vw 5vw 0;
  cursor: pointer;
  font-size: 20px;
}

.container{
  width: 95%;
  height: 75%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#box{
  width: 90%;
  margin-right: 2.5vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.card {
    width: 20rem;
    height: 28rem;
    box-shadow: 0px 0px .5rem .5rem rgba(29, 29, 29, 0.1);
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2.5vw;
    cursor: pointer;
}
.image{
  margin: 1vw;
  border-style: solid;
  border-width: medium;
  border-color: #1d1d1d;
  border-radius: 50vh;
  box-shadow: .5vh .5vw 2rem 0rem rgba(29, 29, 29, 0.3);
  width: 30vh;
  height: 30vh;
  align-self: center;
  background: url("https://scontent-sin2-2.cdninstagram.com/vp/cdfed87f766e25e597ace02ef55b630b/5E54BE1D/t51.2885-19/s150x150/64248610_736494563446608_6078236652147310592_n.jpg?_nc_ht=scontent-sin2-2.cdninstagram.com");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card h1{
  margin-top: 5vh;
  font-family: Product Sans Regular;
  color: #000;
  font-size: 3vw;
  text-align: center;
}
.card p{
  margin-top: -4vh;
  font-family: Bahnschrift Regular;
  color: #1d1d1d;
  opacity: .9;
  font-size: 2.5vw;
  align-self: center;
}
.card:nth-child(2n) {
    transform: scale(0.85);
    opacity: .9;
    z-index: -1;
}

.card:nth-child(2) {
  left: 5%;
}

.card:nth-child(4) {
  left: -5%;
}

.card:nth-child(4n + 1) {
    transform: scale(0.75);
    opacity: .4;
    z-index: -2;
}

.card:nth-child(1) {
  left: 15%;
}

.card:nth-child(5) {
  left: -15%;
}


.card--hide {
    display: none;
}

.move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-in-out;
}


.move-to-position1-from-left{
    animation: moveToP1Left 0.5s ease-in-out;
}

.move-to-position5-from-right{
    animation: moveToP5Right 0.5s ease-in-out;
}
.move-to-position4-from-right{
    animation: moveToP4Right 0.5s ease-in-out;
}
.move-to-position3-from-right{
    animation: moveToP3Right 0.5s ease-in-out;
}
.move-to-position2-from-right{
    animation: moveToP2Right 0.5s ease-in-out;
}
.move-to-position1-from-right{
    animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}


@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}


@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}
